{% extends "laporan/base.html" %}
{% load static %}


{% block title %} {{ title }} {% endblock %}

{% block content %}

    <img src="{% static 'img/icon.jpg' %}" alt="">
    
    {% for lap in laporans %}
        <a href="{% url 'laporan:laporan_detail' lap.id %}" target="_blank">
            <h2>{{ lap.judul }} - {{ lap.get_status_display }}</h2>
        </a>
        <p>{{ lap.deskripsi }}</p>
        <em>{{ lap.pelapor }} - {{  lap.jumlah_komentar }} Komentar</em>
        <em> - {{  lap.jumlah_vote_postive }} Setuju</em>
        {% for komentar in lap.komentar.all %}
            <p>Komentar {{ forloop.counter }}</p>
            <p>{{ komentar.komentar }}</p>
        {%endfor%}
        <hr>
    {% endfor %}
{% endblock %}